:root {
    --primary: #fff;
    --bg-color: hsl(60, 64%, 77%);
    --bg-envelope-color: #f1e0b9;
    --envelope-tab: #8fbb80;
    --envelope-cover: rgb(88, 137, 71);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: #e00c0c;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container>.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 80px 40px var(--shadow-color);
}

.envelope-wrapper>.envelope {
    position: relative;
    width: 299px;
    height: 229px;
}

.envelope-wrapper>.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.1s ease-in-out 1s;

}

.envelope-wrapper>.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);



}

.envelope>.letter {
    position: absolute;
    right: 6%;
    bottom: 0px;
    width: 81%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
    z-index: 1;
    /* Ensure it's above the flap */
    pointer-events: none;


    background-image: url('weddento2.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.envelope>.letter>.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--txt-color);
    text-align: center;
    font-size: 10px;

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.8rem;
    color: rgb(85, 107, 47);
    text-align: center;
    /* margin-top: 260px;*/
}

.envelope>.letter {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.envelope>.letter>.text {
    margin: 0;
    padding-bottom: 56px;
    /* small spacing from bottom */
}


.button {
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 10px;
    border: none;
}

a {

    text-decoration: none;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.8rem;
    color: rgb(85, 107, 47);
    text-align: center;

}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--shadow-color);
    cursor: pointer;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--heart-color);
    border-radius: 50%;
}

.heart:before {
    top: -7.5px;
}

.heart:after {
    right: 7.5px;
}

.flap>.envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
}

.flap>.envelope>.letter {
    bottom: 25px;
    height: 50vh;
    transform: scale(1.1);
    transition-delay: 1s;
    z-index: 5;
    pointer-events: auto;
}

.flap>.heart {
    transform: rotate(90deg);
    transition-delay: 0s;
}

/* Hide text by default */
.envelope .letter .text {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Show text ONLY after envelope opens */
.flap .envelope .letter .text {
    opacity: 1;
    transition-delay: 1.2s;
    /* waits for envelope animation */
}
@media (min-width:768px) and (max-width:912px){
    .flap>.envelope>.letter {
            bottom: 25px;
            height: 25vh;

        }
                .envelope>.letter>.text {
                    margin: 0;
                    padding-bottom:35px;
                    /* small spacing from bottom */
                }
}